<section class="post">
 <header class="entry-header">
   <img class="entry-avatar" alt="{{ site.data.author.name }}" height="52" width="52" src="{{ site.data.author.avatarUrl }}?s=52">
   <h2 class="entry-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
   <p class="entry-meta">
     Posted on <a class="entry-date" href="date.html">{{ post.date | date_to_long_string }}</a> | 
     By <a class="entry-author" href="author.html">{{site.data.author.name}}</a>
     {% if post.tags != empty %}
     | Tags 
     {% for tag in post.tags %}
     <a href="/tag/{{tag | uri_escape}}.html" class="btn btn-default btn-xs">{{tag}}</a> 
     {% endfor %}
     {% endif %}
   </p>
 </header>
 <div class="entry-description">
   <p>
     {{ post.content | strip_html | truncate: 240 }}
   </p>
 </div>
</section> <!-- /.post -->
