{% assign share_twitter = page.title | append:' by @jwcarroll' | uri_espace %}
{% assign share_url = site.base_url | append: page.url %}
<div class="footer">
    <h4>Share This Post</h4>

    <div class="socials-footer">
        <a class="btn btn-twitter" href="http://twitter.com/share?text={{share_twitter}}&url={{share_url}}" rel="nofollow"
           onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
            <i class="fa fa-twitter"></i>
        </a>
        <a class="btn btn-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{share_url}}" rel="nofollow"
           onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
            <i class="fa fa-facebook"></i>
        </a>
        <a class="btn btn-google-plus" href="https://plus.google.com/share?url={{share_url}}" rel="nofollow"
           onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
            <i class="fa fa-google-plus"></i>
        </a>
    </div>
</div>